{% extends 'base.html' %}
{% block title %}
    Reset password
{% endblock %}
{% block content %}
    <h1>
        Reset your password
    </h1>
    {% if validlink %}
        <p>
            Please enter new password twice.
        </p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="Save">
            </p>
        </form>
    {% else %}
        <p>
            Password reset link is invalid. Please request a new password
            reset.
        </p>
    {% endif %}
{% endblock %}